.google-map-container {
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  aspect-ratio: 16/9;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.google-map-iframe {
  width: 50%;
  height: 100%;
  border: 0;
}

/* Responsive for 426px */
@media (max-width: 426px) {
  .google-map-container {
    width: 95%;
    aspect-ratio: 16/9; /* Slightly wider aspect ratio for better fit */
    border-radius: 12px; /* Slightly more rounded corners */
  }
}


/* Responsive for 376px */
@media (max-width: 376px) {
  .google-map-container {
    width: 90%;
    aspect-ratio: 16/10;
    border-radius: 10px;
  }
}

/* Responsive for 320px */
@media (max-width: 320px) {
  .google-map-container {
    width: 95%;
    aspect-ratio: 16/11;
    border-radius: 10px;
  }
}
